<div class="navbar-solicitante">
  <div class="logo">
    <img src="/img/logoGraQ.png" alt="Logo da BBTS" style="height: 35px" />
  </div>
  <div class="nav-right">
    <div class="links">
      <a href="/solicitante/solicitante-inicio.html">Início</a>
      <a href="/solicitante/solicitar-vaga.html">Solicitar Vaga</a>
    </div>
    <div class="user-menu">
      <div class="user-icon">
        <span class="material-symbols-outlined">account_circle</span>
      </div>
      <div class="dropdown-menu" id="dropdownMenu">
        <p><strong>ID:</strong> 74561329</p>
        <p><strong>Nome:</strong> Alberto Nogueira</p>
        <p><strong>Setor:</strong> Desenvolvimento de Software</p>
        <p><strong>Cargo:</strong> Gestor de Projetos</p>
        <button class="logout-btn">Sair da Conta</button>
      </div>
    </div>
  </div>
</div>
